<mat-card>
  <mat-card-content class="my-score-card">
      <h1>{{(myRank | async)}}</h1>
      <h1 *ngIf="isThereNoScore">{{0}}</h1>
  </mat-card-content>
</mat-card>
  
<mat-card *ngFor="let user of myFollows | async" class="score-card">
  <mat-card-content>
      <h3>{{user.username | async}}</h3>
      <h4>{{user.rank | async}}</h4>
  </mat-card-content>
  <mat-card-actions>
    <div class="contols-container">
      <button class="rank-btn" mat-mini-fab (click)="rankUser(user.uid, -3)">-3</button>
      <button class="rank-btn" mat-mini-fab (click)="rankUser(user.uid, -1)">-1</button>
      <button class="rank-btn" mat-mini-fab (click)="rankUser(user.uid, 1)">+1</button>
      <button class="rank-btn" mat-mini-fab (click)="rankUser(user.uid, 3)">+3</button>
    </div>
  </mat-card-actions>
</mat-card>
  