<mat-vertical-stepper #mainstepper linear>
  <mat-step>
    <ng-template matStepLabel>
      <h2>Login / Signup</h2>
    </ng-template>
    <mat-horizontal-stepper #smsstepper linear>
      <mat-step [stepControl]="phoneNumberFormGroup">
        <form #phonenumform="ngForm" (ngSubmit)="sumbitPhoneNumber(smsstepper)" [formGroup]="phoneNumberFormGroup">
          <mat-form-field>
            <input matInput placeholder="Phone number" [(ngModel)]="phoneNumber" formControlName="phoneNumber" required>
          </mat-form-field>
          <button mat-button matStepperNext [disabled]="!phonenumform.valid"> Send Code </button>
          <mat-spinner diameter="15" *ngIf="smsSpinner"></mat-spinner>
        </form>
      </mat-step>
      <mat-step>
        <form #smscodeform="ngForm" (ngSubmit)="sumbitSMSCode(mainstepper, smscodeform)" [formGroup]="codeFormGroup">
          <mat-form-field>
            <input matInput placeholder="6-digit code" [(ngModel)]="verificationCode" formControlName="code" required>
          </mat-form-field>
          <button mat-button matStepperNext> Submit </button>
        </form>
      </mat-step>
    </mat-horizontal-stepper>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>
      <h2>Choose Username</h2>
    </ng-template>
    <form #usernameform="ngForm" (ngSubmit)="submitUsername()" [formGroup]="usernameAssigmentFormGroup">
      <mat-form-field>
        <input matInput placeholder="Username" [(ngModel)]="username" formControlName="username" required>
      </mat-form-field>
      <button mat-button matStepperNext [disabled]="!usernameform.valid"> Submit </button>
    </form>
  </mat-step>
</mat-vertical-stepper>

<div id="recaptcha-container"></div>
